*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
}
#div_One{
    background-image: url(./images/YellowBackground.jpeg);
    background-repeat: no-repeat;
    background-color: white;/*to be used if the image fails to load*/

    margin: 50px;
    
    
    
    
}
.order{
    background-color: orange;
    border: none;
    border-radius: 10px 10px 0 10px;
    color: white;
    padding: 15px 25px 15px ;
  
}
.city{
    
}

.halfOne {
    padding: 50px;
    
 
    
}
.both{
    display: flex;
    flex-direction: row;
}


.halfOne p, button{
    margin: 50px;
}
.halfOne2{
   
    
}



#div_One h1, ul, .logos{
    
    display: inline;
    
}


h1{
    font-family: "lobster",cursive;
}
.rain{
    font-size: 2.5em;
    
}
.deliver{
    color:  grey;
    ;
}


.secondPartOfBurger{
    color: #F6B400;

}
.navigations li{
    list-style-type: none;
    display: inline;
    padding: 20px;
    font-weight: bold;
    
   
}
.navigations{
    margin-left: 100px;
    
}

#div_two{
    display: flex;
    flex-direction: row;

}
.imageContainer{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    
}


.services{
    border: solid maroon 1px;
    border-radius: 10px;
    text-align: center;
    
       
}
.burgers{
    float: left;
    width: 25%;
    height: 75%;
}
.delivery{
    float: left;
    width: 50%;
    height: 75%;
}
.meal{
    float: right;
    height: 85%;
    width: 25%;
}

#div_Three{
    margin: 50px;
    padding: 50px;
    

    
}
#div_Three h2{
    padding: 20px;
}




.ourmenu{
    text-decoration: underline orange 7.5px;
    text-align: center;
    

}
#menu{
    color: #F6B400;
}
#div_Three{


    
    
}
.container{
    margin: 0;

}

.cart{
    background-color:  #E1EBE6;
    border-radius: 12.5px;
    
}

.three_child{
    border: solid 1px lightgrey;
    border-radius: 25px;
    
}

.details{
    font-weight: bold;

}


.discover{
    float: left;
    width: 20%;

}
.mobile{

    
    
    
}


#div_five{
    background-color: #F6B400;
    font-size: 1.75em;
    
    

}
#bottomButton{
    
}
#copy{
    text-align: left;
}
footer{
    background-color:  #E1EBE6;
    
    
}


#bottomlogo{
    float: left;
    width: 25%;
}
#sitemap{
    float: left;
    width: 50%;
}
#sitemap li{
    list-style-type: none;
}
#bottomButton{
    
}





#bottom{
    background-color: white;
    height: 50px;
    width: 100%;
    padding-top: 25px;
    
}
#icons{  
    display: inline;
    
    
}
#by{
    float: right;
}