*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
}
#div_One{
    background-color: white;
    margin: 50px;
    
    
    
    
}
.order{
    background-color: orange;
    border: none;
    border-radius: 10px 10px 0 10px;
    color: white;
    padding: 15px 25px 15px ;
  
}
.city{
    
}

.halfOne {
    

    
    
    
}
.halfOne p, button{
    margin: 50px;
}
.halfOne2{
    background-color: #F6B400;
    
}



#div_One h1, ul, .logos{
    
    display: inline;
    
}


h1{
    font-family: "Brush Script MT",cursive;
}
.rain{
    font-size: 2.5em;
    
}
.deliver{
    color:  grey;
    ;
}


.secondPartOfBurger{
    color: #F6B400;

}
.navigations li{
    display: inline;
    padding: 20px;
    font-weight: bold;
    
   
}
.navigations{
    margin-left: 100px;
    
}

#div_two{
    display: flex;
    flex-direction: row;
    flex-grow: inherit;

}
.imageContainer{
    display: inline-grid;
    grid-template-columns: auto auto auto;

}


.services{
    border: solid maroon 1px;
    border-radius: 10px;
    
       
}
.burgers{
    float: left;
    width: 25%;
    height: 75%;
}
.delivery{
    float: left;
    width: 50%;
    height: 75%;
}
.meal{
    float: right;
    height: 85%;
    width: 25%;
}

#div_Three{
    display: flex;

    
}




.ourmenu{
    text-decoration: underline orange 7.5px;
    text-align: center;

}
#menu{
    color: #F6B400;
}
#div_Three{


    
    
}


.cart{
    background-color:  #E1EBE6;
    border-radius: 12.5px;
    
}
.three_child{
    border: solid 1px lightgrey;
    border-radius: 25px;
    
}

.details{
    font-weight: bold;

}
#div_five{
    display: flex;
    flex-direction: row;
}


.discover{
    float: left;

}
.mobile{
    
}



#div_five{
    background-color: #F6B400;
    font-size: 1.75em;
    

}
#bottomButton{
    margin-right: 0;
}
#copy{
    text-align: left;
}
footer{
    background-color:  #E1EBE6;
    
    
}


#bottomlogo{
    float: left;
    width: 25%;
}
#sitemap{
    float: left;
    width: 50%;
}
#sitemap li{
    list-style-type: none;
}
#bottomButton{
    
}





#bottom{
    background-color: white;
    height: 50px;
    width: 100%;
    padding-top: 25px;
    
}
#icons{  
    display: inline;
    
    
}
#by{
    float: right;
}